body {
    background: rgb(230, 244, 248);
    font-family: 'Carter One', cursive;
    margin: 0px;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 50px 0px;
    padding: 10px 0px 20px 0px;
    background: rgb(0, 124, 158);
}

#watch-list-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 0px 10px;
}

#crossover {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

@media screen and (min-width:700px) {
  main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 2fr 1fr;
      justify-items: center;
      margin: 0px 20px 0px 20px;
  }

  header {
    font-size: 20px;
  }
  #quote-div {
      text-align: center;
  }

  img {
    max-width: 100%;
    height:auto;
}
}



@media screen and (min-width:1200px) {
 main {
    display: grid;
    grid-template-columns: 1fr 2fr;
 }

}

